# Node
node_modules/
npm-debug.log
yarn-error.log

# Build products
dist/
dist-ssr/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase credentials
firebaseServiceAccount.json
*-export.json

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
#frontend/src/firebase.js
